.comment-author {
  color: grey;
}

.comment-body {
  margin-bottom: 18px;
  margin-right: 12px;
}

.comment-author {
  margin-right: 12px;
}

.comment-container {
  background: white;
}

.comment-separator {
  opacity: .3;
  margin: 0;
}

.comment {
  padding: 18px 10px 5px 17px;
  border-left: 2px solid rgba(10, 138, 154, 0.8);
  display: flex;
  justify-content: space-between;
}

.comment-time {
  opacity: .5;
  font-size: 13px;
}

.comment-title {
  margin-bottom: 5px;
}