span.post-comments-count {
  margin-left: 16px;
  font-size: 12px;
  opacity: .7;
}

.selected-post {
  border-left: 3px solid rgba(10, 138, 154, 0.8);
}

.post-comments-count {
  cursor: pointer 
}

.post-title {
  margin-bottom: 5px;
  font-size: 17px;
}

.post-author {
  margin-right: 12px;
}